@use '../custom' as *;
@use '../components/mixins.scss' as *;

nav{
    img{
        height: 100px;
    }
}

.menu{
    li{
        padding-right: 2rem;
        a{
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}

.dropdown-menu{
    a{
        color: $secondary;
        font-weight: bold;
    }
}


.headLine{
    @include secondary-gradient;
}