@use '../custom' as *;
@use '../components/mixins.scss' as *;

.body{
    @include gradient;
    color: white;
    a {
        color: white;
        text-decoration: none;
        
    }
}

.menu{
    li{
        padding-right: 2rem;
        a{
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}

.dropdown-menu{
    a{
        color: $secondary;
        font-weight: bold;
    }
}


